@import "tailwindcss";
@import "./utilities.css";
@import "./patterns/index.css";
@import "./acf-blocks.css";
@import "./components/index.css";

/*
NOTE: The theme.json fonts, spacing, colors, etc are generated
to the tailwind.config.js when you run 'npm run build:theme'
no need creating colors again.

HAPPY CODING!!!
*/

html {
  @apply transition-all duration-300 ease-in;
  &.dark {
    --background: #0c0c0c;
    --foreground: #ededed;
    --color-text: #f1f5f9;
    --color-border: #1f2937;
    --color-body-bg: #0f172a;
  }
}

body:not(.wp-admin) {
  [data-animate] {
    opacity: 0;
  }
}
